<header>
  <nav class="nav-bar">
    <span id="bark-button">bArk</span>
    <div class="right-side">
      <span id="login">Login</span>
      <span id="register">Register</span>
    </div>
  </nav>
</header>
