<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav class="nav-bar">
    <span id="bark-button">bArk</span>
      <span id="login">Login</span>
      <span id="register">Register</span>
  </nav>

  <main class="main-container">
    <section class="stories-container">

      <!-- Errors Here-->
      <div id="error-msg-guest" class="error"><i class="fa-solid fa-circle-exclamation"></i> Please Sign In</div>


      <form id="stories-form" class="story-form" action="/stories" method="POST">
        <textarea name="story" id="story-content" placeholder="bArk here"></textarea>
        <div>
          <button type="submit">bArk</button>
          <output name="story" class="story-form" for="story">
            <i id="upvote-button"class="fa-solid fa-angles-down"></i>
              </output>
        </div>
      </form>

        <div class="contributions-container" id="contributions">
      </div>
    </section>
  </main>

</body>

</html>
