$font-stack: Helvetica, sans-serif;
$font-colour: #ffff

header {
  font: 100% $font-stack;
  display: flex;
  flex-direction: row;
  background: image('https://github.com/DanRoss88/bArk/blob/master/styles/images/bark_header.png');
}

body {
  font: 100% $font-stack;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: #d8caee;
  background: image('https://github.com/DanRoss88/bArk/blob/master/styles/images/wallpaper.png');
}
