// /* CSS styles */
// body {
//   font: Helvetica, sans serif;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   background: #d8caee;
//   background-image: url('https://github.com/DanRoss88/bArk/blob/master/styles/images/wallpaper.png');
// }

// nav {
//   display: flex;
//   flex-direction: row;
//   border: 3px solid #9A8BD9;
//   border-radius: 15px;
//   background-color: #D8CAEE;
//   background-image: url('https://github.com/DanRoss88/bArk/blob/master/styles/images/bark_header.png');
// }

// .story-section {
//   border: 3px solid #9484d4;
//   border-radius: 15px;
// }

// button {
//   border: 3px solid #9A8BD9;
//   border-radius: 15px;
//   background-color: #9484d4;
//   color: white;
// }

// textarea {
//   border: none;
//   border-bottom: 2px solid #9484d4;
//   border-radius: 15px;
// }

// h2 {
//   background-color: #9A8BD9;
//   border-radius: 10px;
// }

// form {
//   width: auto;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   box-shadow: 2px 2px 5px white;
//   border: 3px solid #9A8BD9;
//   border-radius: 15px;
//   background-color: #D8CAEE;
// }


/* CSS styles */
body {
  font: Helvetica, sans serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d8caee;
  background-image: url("/images/wallpaper.png");
}

nav {
  display: flex;
  flex-direction: row;
  border: 3px solid #9A8BD9;
  border-radius: 15px;
  background-color: #D8CAEE;
  background-image: url('https://github.com/DanRoss88/bArk/blob/master/styles/images/bark_header.png');
}

.story-section {
  border: 3px solid #9484d4;
  border-radius: 15px;
}

button {
  border: 3px solid #9A8BD9;
  border-radius: 15px;
  background-color: #9484d4;
  color: white;
}

textarea {
  border: none;
  border-bottom: 2px solid #9484d4;
  border-radius: 15px;
}

h2 {
  background-color: #9A8BD9;
  border-radius: 10px;
}

form {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 2px 2px 5px white;
  border: 3px solid #9A8BD9;
  border-radius: 15px;
  background-color: #D8CAEE;
}

input {
  border-radius: 10px;
  margin: 5px;
  background-color: #D8CAEE;
}

form.form-inline {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.editing-form form {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.contributions-container form {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.browse-stories form {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.browse-contributions {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.stories-form form {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.editing-container {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

